/***
 * @author : Guryash Singh Dhall
 * @bannerID : B00910690
 * @email : guryash.dhall@dal.ca
 ***/

.profile-heading {
    padding: 6px;
}

.profile-title {
    font-weight: 300 !important;
}

.profile-text {
    font-size: 100% !important;
}